// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$expansion-panel-content-padding: 0px 0px 0px 0px;
$expansion-panel-header-padding: 0px 24px 0px 0px;
$badge-icon-padding: 0px;
$badge-wrapper-margin: 0px;
// $timeline-divider-width: 70px;
$input-text-align: center !important;
$primary-color-dark: #7B1FA2; 
$primary-color:  #9C27B0;
$primary-color-light:  #E1BEE7;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;